@charset "utf-8";

body{
  color: black;
}

.container{
  text-align: center;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.pic h1 img{
  width: 126px;
  height: 36px;
  box-sizing: border-box;
}

.nav{
  display: block;
}

.nav a{
  text-decoration: none;
  font-size: 16px;
  color: inherit;
  padding: 1em;
}

.pc{
  width: 100%;
  max-width: 1920px;
  height: 420px;
}

/* .About */

.About{
  text-align: center;
}

h2{
  padding: 140px 0 70px;
}

.text{
  text-align: left;
  max-width: 960px;
  margin: 0 auto;
}

.text p{
  margin: 0;
  font-size: 18px;
}

.Ashley,
.profile{
  padding: 30px 0;
}

.profile{
  padding-bottom: 80px;
}

/* Works */

.pic2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.pic2 img{
  width: 31%;
  margin-bottom: 40px;
}

/* News */

.bigtext{
  max-width: 960px;
  margin: 0 auto;
}

.text2{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
  border-bottom: 1px solid #666;
  box-sizing: border-box;
  vertical-align: center;
  text-align: left;
}

.top{
  border-top: 1px solid #666;
}

.date{
  padding-right: 10%;
}

/* Contact */

form {
  margin: 0 auto;
  max-width: 960px;
}

.form{
  display: flex;
  justify-content: space-between;
}

label{
  font-size: 16px;
  padding-top: 10px;
}

#name,
#E-mail{
  width: 90%;
  height: 3em;
  margin: 10px;
  text-align: right;
}

#message{
  width: 90%;
  height: 10em;
  margin: 10px 10px 50px 10px;
}

button{
  all: unset;
  background: #222;
  color: white;
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
}

.button{
  margin-bottom: 100px;
}

/* footer */

footer{
  height: 40px;
  color: white;
  line-height: 40px;
  text-align: center;
  background: #333
  /* margin-top: 100px; */
}



@media (max-width:600px){
  .title{
    display: block;
    padding: 0;
  }

  .nav{
    display: flex;
    justify-content: center;
  }

  .pc{
    width: 600px;
  }

  h1 img{
    margin: 20px;
  }

  .pic2 img{
    display: block;
    width: 100%;
  }

  .text2{
    display: block;
    text-align: left;
  }

  .date,
  .text3{
    margin: 0;
  }

  label{
    padding: 0 10px 0;
  }

  .form{
    display: block;
    text-align: left;
  }
}


@media (min-width:600px){
  .pc{
    object-fit: cover;
  }
}

